.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  animation: fadeOut 2s ease-in-out forwards;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.fa-heart {
  font-size: 22px;
}

.container-index {
  display: flex;
  top: 50%;
  left: 50%;
  justify-content: space-between;
}

.heart {
  margin-top: 8px;
  margin-right: 12px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.heart-color {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease;
  margin-left: 0px;
  margin-top: 0px;
}

.heart:hover .heart-color {
  transform: scale(1);
  opacity: 1;
}

.heart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
}

body {
  margin: 0px;
}

.header {
  background: #FFFFFF;
  text-align: center;
}

.info-localisation {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 2px;
  box-sizing: border-box;
  justify-content: center;
  background: lightgray;
}

.localisation {
  color: var(--Grey, #353535);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  background-color: #D3D3D3;
}

.localisation:focus {
  outline: none;
}

.fa-map-marker-alt {
  padding-right: 10px;
}

.section-tittle {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0px 180px;
  padding-bottom: 30px;
  margin: 0px;
}

.section-sous-tittle {
  color: var(--Grey, #353535);
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.numero-button {
  position: absolute;
  margin-right: 210px;
  margin-top: 25px;
  background-color: #9356DC;
  color: white;
  margin-left: -11px;
  width: 24px;
  height: 24px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infos {
  background-color: ghostwhite;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 250px;
}

.button-explorer {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  border: 2px solid transparent;
  cursor: pointer;
}

.body {
  margin: 0;
}

.button-fonctionnement {
  display: flex;
  gap: 15px;
  padding-bottom: 45px;
  justify-content: center;
}
.button-fonctionnement .num-bouton {
  width: 322.49px;
  height: 72.38px;
  border-radius: 20px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background: #F6F6F6;
  border: 2px solid transparent;
}

.num-buton {
  margin-right: 27px;
}

.section-fonctionnement {
  width: 275px;
  height: 35px;
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 25px;
  margin-left: 23%;
}

.button-fonctionnement button:last-child {
  margin-right: 0;
}
.button-fonctionnement button span.icon {
  margin-right: 27px;
}

.texte-bouton {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 20px;
}

.restaurant-4-index {
  height: 28px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0em;
  margin-bottom: 30px;
  padding-top: 30px;
  margin-left: 23%;
}

.restaurant-list {
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
}

.restaurant-list-card {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  row-gap: 60px;
  width: 1190px;
  justify-content: space-around;
}

.restaurant-card {
  display: flex;
  justify-content: center;
  position: relative;
  font-family: Roboto;
}

.restaurant-card--image {
  position: absolute;
  width: 80px;
  height: 25px;
  top: 14px;
  border-radius: 2px;
  background: var(--Green, #99E2D0);
  color: var(--Green-Font, #008766);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 400px;
}

.texte-nouveau {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.restaurant-card-coeur button {
  font-size: 24px;
  position: relative;
  bottom: 70px;
  margin-left: 430px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.card {
  border-radius: 15px;
  background-color: white;
  justify-content: space-between;
  width: 490px;
  height: 330px;
}
.card img {
  width: 100%;
  height: 231px;
  -o-object-fit: cover;
  object-fit: cover;
  background: #FFF;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-txt {
  margin-left: 15px;
}

.card-title {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 12px;
  margin-bottom: 10px;
}

.card-subtitle {
  margin-top: 5px;
  color: #000;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer-info {
  display: flex;
  color: var(--White, #FFF);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 15%;
  width: 100%;
  align-items: flex-end;
  gap: 16px;
  flex-shrink: 0;
  background: var(--Grey, #353535);
  justify-content: flex-end;
}

.footer-fa {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}
.footer-fa i {
  margin-right: 5px;
}

.footer-info img {
  width: 100px;
  height: auto;
}

.underline-link {
  text-decoration: none;
}

.footerLink {
  align-items: center;
  display: flex;
  cursor: pointer;
  color: #FFFFFF;
  text-decoration: none;
}

@media (min-width: 500px) and (max-width: 1024px) {
  .header {
    height: auto;
    padding: 10px;
  }
  .info-localisation {
    height: auto;
    padding: 10px;
    text-align: left;
  }
  .section-tittle {
    padding: 0 20px;
  }
  .button-fonctionnement {
    padding-left: 20px;
    margin-left: 0;
    flex-direction: column;
  }
  .button-fonctionnement .num-bouton {
    width: auto;
  }
  .restaurant-card {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Roboto;
  }
  .restaurant-card--image {
    position: unset;
    width: 0px;
    height: 25px;
    top: 14px;
    border-radius: 2px;
    background: var(--Green, #99E2D0);
    color: var(--Green-Font, #008766);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
  .position-texte-nouveau {
    display: flex;
  }
  .texte-nouveau {
    display: flex;
    position: absolute;
    margin-right: 120px;
    justify-content: center;
    margin-top: 15px;
    background: var(--Green, #99E2D0);
    color: var(--Green-Font, #008766);
    width: 80px;
    height: 20px;
    align-items: center;
  }
  .footer-info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .footer-info img {
    margin-left: 15px;
  }
  img {
    order: -1;
  }
  .footer-info span {
    margin-left: 15px;
  }
  .restaurant-4-index {
    margin-left: 1%;
  }
  .infos {
    width: 100%;
  }
  .section-fonctionnement {
    width: 275px;
    height: 35px;
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 25px;
    margin-left: 1%;
  }
  .fa-heart {
    font-size: 22px;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .heart {
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
  .heart-color {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: scale(0);
    transition: 0.3s ease;
    margin-left: 0px;
  }
  .heart:hover .heart-color {
    transform: scale(1);
    opacity: 1;
  }
}
@media (min-width: 320px) and (max-width: 500px) {
  .header img {
    width: 50%;
    margin-top: 20px;
  }
  .info-localisation {
    height: auto;
    padding: 10px;
    text-align: left;
  }
  .infos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .section-tittle {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 30px;
    background-color: #EAEAEA;
    margin: 0px;
    display: contents;
    padding-top: 39px;
    padding: 0 20px;
  }
  .button-fonctionnement .num-bouton {
    width: auto;
  }
  .restaurant-card--image {
    position: unset;
    width: 80px;
    height: 25px;
    top: 14px;
    border-radius: 2px;
    background: var(--Green, #99E2D0);
    color: var(--Green-Font, #008766);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
  .position-texte-nouveau {
    display: flex;
  }
  p.texte-nouveau {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .texte-nouveau {
    display: flex;
    position: absolute;
    margin-right: 120px;
    justify-content: center;
    margin-top: 15px;
    background: var(--Green, #99E2D0);
    color: var(--Green-Font, #008766);
  }
  .texte-bouton {
    padding: 20px;
  }
  .button-fonctionnement {
    padding-left: 20px;
    margin-left: 0;
    flex-direction: column;
  }
  .button-fonctionnement button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .section-fonctionnement {
    width: 275px;
    height: 35px;
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 25px;
    margin-left: 15px;
  }
  .restaurant-card {
    margin-left: 20px;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Roboto;
  }
  .restaurant-4-index {
    margin-left: 15px;
    padding-bottom: 20px;
    margin-top: 50px;
  }
  .restaurant-card-coeur button {
    margin-left: 400px;
  }
  .card {
    width: 100%;
  }
  .card img {
    height: 231px;
    flex-shrink: 0;
  }
  .restaurant {
    margin-left: 0%;
  }
  .restaurant-list {
    padding-left: 0px;
    padding-bottom: 40px;
  }
  .restaurant-list-card {
    width: auto;
    flex-direction: column;
    gap: 20px;
  }
  .fa-heart {
    font-size: 22px;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .heart {
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin-top: 14px;
  }
  .heart-color {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: scale(0);
    transition: 0.3s ease;
    margin-left: 0px;
  }
  .heart:hover .heart-color {
    transform: scale(1);
    opacity: 1;
  }
  .footer-info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .footer-info img {
    margin-left: 15px;
    margin-bottom: 10px;
  }
  span.span-footer {
    margin-left: 15px;
  }
  img {
    order: -1;
  }
}

.menu-top {
  display: flex;
  align-items: center;
}

body {
  font-family: "Arial", sans-serif;
  padding: 0;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

header {
  background-color: white;
  color: white;
  padding: 10px;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  margin-top: -50px;
  width: 50%;
  justify-content: center;
  margin-left: 25%;
}

.plat-p {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.restaurant {
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.restaurant img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-section-entre {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.menu-section-plat,
.menu-section-dessert {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.line {
  display: flex;
  width: 40px;
  height: 3px;
  background: #99E2D0;
}

h2 {
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

h3 {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.ingredients-prix {
  display: flex;
  justify-content: space-between;
  color: #353535;
  text-align: center;
  font-family: Roboto;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ingredients {
  margin-top: 1%;
  margin-bottom: 1%;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Roboto;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.prix {
  text-align: right;
  margin-top: 1%;
  font-family: Roboto;
  margin-bottom: 1%;
  font-weight: 700;
}

.menu-tittle {
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-menu {
  text-align: left;
  width: 634px;
  align-items: center;
  border-radius: 15px;
  background: var(--White, #FFF);
  box-shadow: 0px 4.01149px 15px 0px rgba(0, 0, 0, 0.1);
  border: none;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
  background-color: #ffffff;
  background-image: linear-gradient(to left, #99e2d0 0%, #99e2D0 5%, #ffffff 5%, #ffffff 100%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: background-position 0.5s ease-out;
}
.button-menu::after {
  content: "\f058";
  color: white;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 20px;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.prix-hover {
  transition: margin-right 0.5s ease-out;
  display: flex;
}

.button-menu:hover {
  background-position: right bottom;
}
.button-menu:hover .prix-hover {
  margin-right: 65px;
}
.button-menu:hover::after {
  opacity: 1;
}

.button-commander {
  width: 186px;
  height: 50px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  color: white;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0px 4.01149px 15px 0px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-info {
  padding-bottom: 30px;
  display: flex;
  color: var(--White, #FFF);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 30px;
  background: var(--Grey, #353535);
  justify-content: end;
}

.footer-fa {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}
.footer-fa i {
  margin-right: 5px;
}

.footer-info img {
  width: 100px;
  height: auto;
  margin-right: 2%;
  /*
  margin-left: 100px;
  */
}

.header-logo-arrow {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.header-logo-arrow i {
  color: black;
  font-size: 30px;
}
.header-logo-arrow img {
  margin-left: 33%;
}

.heart {
  margin-left: 40px;
  margin-bottom: 5px;
}

.container-menu-restaurant {
  margin-bottom: 5px;
}

@media (min-width: 500px) and (max-width: 1024px) {
  .footer-info img {
    margin-bottom: 10px;
  }
  .header-logo-arrow img {
    margin-left: 25%;
  }
  .fa-heart {
    font-size: 22px;
  }
  .menu {
    width: 100%;
    margin-left: 0%;
  }
  .container-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .heart {
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
  .heart-color {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: scale(0);
    transition: 0.3s ease;
    margin-left: 0px;
  }
  .heart:hover .heart-color {
    transform: scale(1);
    opacity: 1;
  }
  .header-logo-arrow {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }
  .arrow {
    order: -1;
  }
}
@media (min-width: 320px) and (max-width: 499px) {
  .header-logo-arrow img {
    margin-left: 20%;
    width: 50%;
    margin-bottom: 0%;
  }
  .header-logo-arrow span {
    order: -1;
  }
  .arrow {
    order: -1;
  }
  .menu {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: -60px;
    margin-left: 0%;
  }
  .button-menu {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .button-menu::after {
    content: "\f058";
    color: white;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 11px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .menu-section-entre,
  .menu-section-plat,
  .menu-section-dessert {
    width: 100%;
  }
  .container-menu {
    position: absolute;
    margin-top: 55%;
    margin-left: 25%;
    transform: translate(-50%, -50%);
  }
  .footer-info {
    padding-bottom: 30px;
    display: flex;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 30px;
    align-items: flex-end;
    flex-shrink: 0;
    background: var(--Grey, #353535);
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  img {
    order: -1;
    margin-bottom: 22px;
  }
  .restaurant img {
    width: 100%;
    height: 200px;
  }
  .footer-info img {
    padding-right: 20px;
  }
  .footer-info span {
    margin-left: 20px;
  }
  .button-content {
    width: 100%;
  }
  span.span-footer {
    margin-left: 15px;
  }
}/*# sourceMappingURL=main.css.map */