.menu-top {
  display: flex;
  align-items: center;

}

body {
  font-family: "Arial", sans-serif;
  padding: 0;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

header {
  background-color: white;
  color: white;
  padding: 10px;
  text-align: center;
  // width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  margin-top: -50px;
  justify-content: center;
  width: 70%;
  margin-left: 16%;
}

.plat-p {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.restaurant {
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;



  img {
    width: 100%;
    object-fit: cover;
    height: 300px;
  }
}


.menu-section-entre {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.menu-section-plat,
.menu-section-dessert {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.line {
  display: flex;
  width: 40px;
  height: 3px;
  background: #99E2D0;
}

h2 {
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

h3 {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.ingredients-prix {
  display: flex;
  justify-content: space-between;
  color: #353535;
  text-align: center;
  font-family: Roboto;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.ingredients {
  margin-top: 1%;
  margin-bottom: 1%;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Roboto;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.prix {
  text-align: right;
  margin-top: 1%;
  font-family: Roboto;
  margin-bottom: 1%;
  font-weight: 700;
}


.menu-tittle {
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-menu {
  text-align: left;
  width: 634px;
  align-items: center;
  border-radius: 15px;
  background: var(--White, #FFF);
  box-shadow: 0px 4.01149px 15px 0px rgba(0, 0, 0, 0.1);
  border: none;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
  background-color: #ffffff;
  background-image: linear-gradient(to left, #99e2d0 0%, #99e2D0 5%, #ffffff 5%, #ffffff 100%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: background-position 0.5s ease-out;

  &::after {
    content: "\f058";
    color: white;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.4s ease;
  }
}

.prix-hover {
  transition: margin-right 0.5s ease-out;
  display: flex;
}

.button-menu:hover {
  background-position: right bottom;

  .prix-hover {
    margin-right: 65px;
  }

  &::after {
    opacity: 1;
  }
}

.button-commander {
  width: 186px;
  height: 50px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  color: white;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0px 4.01149px 15px 0px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-info {
  padding-bottom: 30px;
  display: flex;
  color: var(--White, #FFF);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 30px;
  background: var(--Grey, #353535);
  justify-content: end;
}

.footer-fa {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;

  i {
    margin-right: 5px;
  }
}

.footer-info img {
  width: 100px;
  height: auto;
  margin-right: 2%;
  /*
  margin-left: 100px;
  */
}

.header-logo-arrow {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;

  i {
    color: black;
    font-size: 30px;
  }

  img {
    margin-left: 33%;
  }
}

.heart {
  margin-left: 40px;
  margin-bottom: 5px;
}

.container-menu-restaurant {
  margin-bottom: 5px;
}



@media (min-width: 500px) and (max-width: 1024px) {

  .footer-info img {
    margin-bottom: 10px;
  }

  .header-logo-arrow img {
    margin-left: 25%;
  }

  .fa-heart {
    font-size: 22px;
  }

  .menu {
    width: 100%;
    margin-left: 0%;
  }

  .container-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .heart {
    position: relative;
    z-index: 1;
    cursor: pointer;
  }

  .heart-color {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: scale(0);
    transition: .3s ease;
    margin-left: 0px;
  }

  .heart:hover .heart-color {
    transform: scale(1);
    opacity: 1;
  }

  .header-logo-arrow {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  .arrow {
    order: -1;
  }

}

@media (min-width: 320px) and (max-width:499px) {


  .header-logo-arrow {
    img {
      margin-left: 20%;
      width: 50%;
      margin-bottom: 0%;
    }

    span {
      order: -1;
    }
  }

  .arrow {
    order: -1;
  }

  .menu {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: -60px;
    margin-left: -0%;
  }

  .button-menu {
    display: flex;
    justify-content: center;
    width: 100%;


    &::after {
      content: "\f058";
      color: white;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      right: 11px;
      font-size: 20px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }

  .menu-section-entre,
  .menu-section-plat,
  .menu-section-dessert {
    width: 100%;
  }

  .container-menu {
    position: absolute;
    margin-top: 55%;
    margin-left: 25%;
    transform: translate(-50%, -50%);
  }

  .footer-info {
    padding-bottom: 30px;
    display: flex;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 30px;
    align-items: flex-end;
    flex-shrink: 0;
    background: var(--Grey, #353535);
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  img {
    order: -1;
    margin-bottom: 22px;
  }

  .restaurant img {
    width: 100%;
    height: 200px;
  }

  .footer-info {
    img {
      padding-right: 20px;
    }

    span {
      margin-left: 20px;
    }
  }

  .button-content {
    width: 100%;
  }

  span.span-footer {
    margin-left: 15px;
  }
}