
 
   .heart-checkbox {
    display: none; /* Hide the checkbox */
  }
  
  /* Style for the unchecked state */
  .heart .fas {
    display: none; /* Hide the solid heart initially */
  }
  
  /* Style for the checked state */
  .heart-checkbox:checked + .heart .far {
    display: none; /* Hide the regular heart when checked */
  }
  
  .heart-checkbox:checked + .heart .fas {
    display: inline; /* Show the solid heart when checked */
  }
  
  .fa-heart {
    font-size: 30px;
  }
  
  .container {
    font-size: 24px;
    position: relative;
    bottom: 70px;
    margin-left: 430px;
    background: none;
    padding: 0;
    cursor: pointer;
  }
  
  .heart {
    position:relative;
    z-index:1;
    cursor: pointer;
    -webkit-text-stroke: 2px white;
  }
  
  .heart-color {
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity:0;
    transform: scale(0);
    transition:.3s ease;
  }
  
  /* Modify this part to show the heart-color when checked */
  .heart-checkbox:checked + .heart .heart-color {
    opacity:1;
    transform: scale(1);
  }
  
body {
    margin: 0px;
}

.header {
    height: 96px;
    background: #FFFFFF;
    text-align: center;
}


.info-localisation {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    justify-content: center;
    background: lightgray;
}

.localisation {
    color: var(--Grey, #353535);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.fa-map-marker-alt {
    padding-right: 10px;
}

.section-tittle {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0px 180px;
    padding-bottom: 30px;
    margin: 0px;
}

.section-sous-tittle {
    color: var(--Grey, #353535);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.numero-button {
    position: absolute;
    margin-right: 210px;
    margin-top: 25px;
    background-color: #9356DC;
    color: white;
    margin-left: -11px;
    width: 24px;
    height: 24px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .numero-button {
    background-color: #9356DC;
    color: white;
    margin-left: -118px;
    width: 24px;
    height: 24px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
*/

.infos {
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 250px;
}

.button-explorer {
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    border: 2px solid transparent;

}

.body {
    margin: 0;
}

.fonctionnement {
    padding: 0px 20px
}

.button-fonctionnement {
    display: flex;
    gap: 15px;
    padding-bottom: 45px;
    justify-content: center;
    /* margin-left: 425px; */
}

/* .button-fonctionnement {
    display: flex;
    gap: 15px;
    padding-bottom: 45px;
    margin-left: 425px;
} */

.button-fonctionnement .num-bouton {
    width: 322.49px;
    height: 72.38px;
    border-radius: 20px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background: #F6F6F6;
    border: 2px solid transparent;
}

.num-buton {
    margin-right: 27px;
}


.section-fonctionnement {
    width: 275px;
    height: 35px;
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 25px;
    margin-left: 21%;
}

.button-fonctionnement button:last-child {
    margin-right: 0;
}

.button-fonctionnement button span.icon {
    margin-right: 27px;
}

.texte-bouton {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px;

}

.restaurant {
    height: 28px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    /* padding-left: 26.5%; */
    margin-left: 22%;
}

.restaurant-list {
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    /* padding-left: 240px; */
}

.restaurant-list-card {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    row-gap: 60px;
    width: 1190px;
    justify-content: space-around;
}

.restaurant-card {
    display: flex;
    justify-content: center;
    /* margin-left: 180px; */
    position: relative;
}

.restaurant-card--image {
    position: absolute;
    width: 80px;
    height: 25px;
    top: 14px;
    border-radius: 2px;
    background: var(--Green, #99E2D0);
    color: var(--Green-Font, #008766);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 400px;
}



.texte-nouveau {
    display: flex;
    justify-content: center;
    margin-top: 4px;
}

.restaurant-card-coeur button {
    font-size: 24px;
    position: relative;
    bottom: 70px;
    margin-left: 430px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

}

.card {
    border-radius: 15px;
    background-color: white;
    justify-content: space-between;
    width: 490px;
    height: 330px;
}

.card img {
    width: 100%;
    height: 231px;
    object-fit: cover;
    background: #FFF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-txt {
    margin-left: 15px;
}

.card-title {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 12px;
    margin-bottom: 10px;
}

.card-subtitle {
    margin-top: 5px;
    color: #000;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer-info {
    display: flex;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 15%;
    padding: 30px 25px;
    align-items: flex-end;
    gap: 16px;
    flex-shrink: 0;
    background: var(--Grey, #353535);
    justify-content: flex-end;
}

.footer-info span p,
.footer-info span a {
    margin-top: 5px;
}


.footer-fa {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}

.footer-fa i {
    margin-right: 5px;
}

.footer-info img {
    width: 100px;
    height: auto;
    margin-left: 70px;
}

.underline-link {
    text-decoration: none;
}

/****** Media queries ***********/
@media (min-width: 768px) and (max-width: 1024px) {
    .restaurant {
        margin-left: 2%;
    }

}

/****** Media queries ***********/
@media (min-width: 768px) and (max-width: 1024px) {

    /* Header et Info Localisation */
    .header {
        height: auto;
        padding: 10px;
    }

    .info-localisation {
        height: auto;
        padding: 10px;
        text-align: left;
    }

    /* Section Titre */
    .section-tittle {
        padding: 0 20px;
    }

    /* Boutons de Fonctionnement */
    .button-fonctionnement {
        padding-left: 20px;
        margin-left: 0;
        flex-direction: column;
    }

    .button-fonctionnement .num-bouton {
        width: auto;
    }

    .section-fonctionnement {
        width: 100%;
        height: 35px;
        color: #000;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 25px;
        margin-left: 0;
    }

    /* Restaurant Cards */
    .restaurant-card {
        margin-left: 20px;
        margin-right: 20px;
    }

    .restaurant-card--image {
        position: unset;
        width: 80px;
        height: 25px;
        top: 14px;
        border-radius: 2px;
        background: var(--Green, #99E2D0);
        color: var(--Green-Font, #008766);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .position-texte-nouveau {
        display: flex;
    }

    .texte-nouveau {
        display: flex;
        position: absolute;
        margin-right: 120px;
        justify-content: center;
        margin-top: 15px;
        background: var(--Green, #99E2D0);
        color: var(--Green-Font, #008766);
    }

    /* Footer */
    .footer-info {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .footer-info img {
        margin-left: 0;
    }

    img {
        order: -1;
        margin-bottom: 22px;
    }

    .footer-info span {
        margin-bottom: 5px;
    }
}

/****** Media queries ***********/

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .container{
        margin-left: 390px;
      }

    .header {
        height: auto;
        padding: 10px;
    }

    .info-localisation {
        height: auto;
        padding: 10px;
        text-align: left;
    }

    .infos {

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .section-tittle {
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        /* padding: 0px 180px; */
        padding-bottom: 30px;
        background-color: #EAEAEA;
        margin: 0px;
        display: contents;
        padding-top: 39px;
    }

    .section-tittle {
        padding: 0 20px;
    }

    .button-fonctionnement .num-bouton {
        width: auto;
    }

    .restaurant-card--image {
        position: unset;
        width: 80px;
        height: 25px;
        top: 14px;
        border-radius: 2px;
        background: var(--Green, #99E2D0);
        color: var(--Green-Font, #008766);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-left: 0px;
        display: flex;
        /* margin-left: 330px; */
        justify-content: center;
    }

    .position-texte-nouveau {
        display: flex;
    }

    p.texte-nouveau {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .texte-nouveau {
        display: flex;
        position: absolute;
        margin-right: 120px;
        justify-content: center;
        margin-top: 15px;
        background: var(--Green, #99E2D0);
        color: var(--Green-Font, #008766);
    }

    .texte-bouton {
        padding: 20px;
    }

    .numero-button {}

    .button-fonctionnement {
        padding-left: 20px;
        margin-left: 0;
        flex-direction: column;
    }

    .button-fonctionnement button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .section-fonctionnement {
        width: 275px;
        height: 35px;
        color: #000;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 25px;
        margin-left: 0px;

    }



    .restaurant-card {
        margin-left: 20px;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }



    .restaurant-card-coeur button {
        margin-left: 400px;
    }

    .card {
        width: auto;
    }

    .card img {
        height: 231px;
        flex-shrink: 0;
    }

    .restaurant {
        padding-left: 20px;
        margin-left: 0%;
    }

    .restaurant-list {
        padding-left: 0px;
        padding-bottom: 40px;
    }

    .restaurant-list-card {
        width: auto;
        flex-direction: column;
        gap: 20px;
    }

    .footer-info {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 5px;

    }

    .footer-info img {
        margin-left: 0px;
    }

    img {
        order: -1;
        margin-bottom: 22px;

    }

    .footer-info span {
        margin-bottom: 5px;

    }
}